<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>298403277890-30o01d7hbcbv7ghpov100ep8iigtg1vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298403277890-30o01d7hbcbv7ghpov100ep8iigtg1vc</string>
	<key>API_KEY</key>
	<string>AIzaSyDtF6ZUl7NgWv8xR9x1CoSfRHzUWtGJLCw</string>
	<key>GCM_SENDER_ID</key>
	<string>298403277890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vijay-Atom.News</string>
	<key>PROJECT_ID</key>
	<string>gocricket-ce6eb</string>
	<key>STORAGE_BUCKET</key>
	<string>gocricket-ce6eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298403277890:ios:004d9d11007beb11</string>
	<key>DATABASE_URL</key>
	<string>https://gocricket-ce6eb.firebaseio.com</string>
</dict>
</plist>
